@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #010101;
    /*background-position: center top;
    background-position-y: 5px;
    background-image: url(spotlight.png);
    background-image: linear-gradient(black,rgb(5, 5, 47),black);
    background-size: 1009px;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding-top: 60px;
  }


  .container2 {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: -30px;
  }
  
  .text {
    position: absolute;
    left: 735px;
    top: 60px;
  }

  .favourite_artist {
    margin-left: 150px;
    margin-bottom: 50px;

  }

  .picture {
    float: left;
    margin-top: 20px;
    alt: spotlight; 
    height: 380px;
    border-radius: 10px;
   
  }

  .minus {
    float: left;
    alt: subtract; 
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .info {
    margin-left: 420px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 28px;
    color: #fff;
    margin-right: 50px;
    /* vertical-align: auto; */
  }

  .countdown {
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 150px;

  }

  h1 {
    
    font-family: 'Cabin Sketch', cursive;
    font-size: 80px;
    text-align: center;
    color: rgb(156, 212, 231);  
    margin-top: -40px;
  }

  .form {
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
    text-align: left;
    margin-left: 150px;
    color: #ffffff;  
    
  }

  table {
    border-collapse: collapse;
    width: 60%;
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
    text-align: left;
    margin-left: 150px;

  }
  th {
    padding: 8px;
    text-align: left;
    color: rgb(161, 232, 232);
    border-bottom: 1px solid #ddd;
  }
  
  td {
    padding: 8px;
    text-align: left;
    color: #fff;
  }


  /* ################################################################################################ */

 
ul {
    list-style-type: none;
  }
  
  .container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 30px;
  }
  nav::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
  
  .navbar {
    background-color: rgb(8, 1, 29);
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 9999;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar .logo {
    color: #fff;
      text-shadow:
        0 0 7px #06152a,
        0 0 10px #06152a,
        0 0 21px #06152a,
        0 0 42px #06152a,
        0 0 82px #06152a,
        0 0 92px #06152a,
        0 0 102px #06152a,
        0 0 151px #06152a;
    font-size: x-large;
    font-weight: bold;
    margin-trim: all;
  }
  
  .navbar a {
    color: #fff;
    text-shadow:
      0 0 7px #06152a,
      0 0 10px #06152a,
      0 0 21px #06152a,
      0 0 42px #06152a,
      0 0 82px #06152a,
      0 0 92px #06152a,
      0 0 102px #06152a,
      0 0 151px #06152a;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: lightblue;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li {
    /* text-decoration-color: #c90e0e; */
    margin-left: 20px;
  }

footer {
    color: #fff;
    padding: 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  

  /* ########################################## */

  .element {
    position: relative;
    z-index: 1;
  }
  
  .element::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    right: -2px;
    bottom: -1px;
    background-color: blanchedalmond;
    box-shadow: 0 0 0 2px blanchedalmond;
    z-index: -1;
    opacity: 0.3;
    border-radius: 2.5px;
  }